min-release-age=7
min-release-age-exclude[]=@microbit/*
min-release-age-exclude[]=@microbit-foundation/*
min-release-age-exclude[]=@codemirror/*

# root here means this project's package.json
allow-git=root
allow-remote=root
allow-file=root
allow-directory=root

strict-allow-scripts=true

engine-strict=true
