@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("./fonts/source-code-pro-v14-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/source-code-pro-v14-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  /* Used in blocks.ts */
  --block: rgba(52, 162, 235, 0.06);
}

:root {
  --highlight-style-keyword: #9d4ea9;
  --highlight-style-string: #ae1f1f;

  /* Unused so far */
  --pink-100: #ca0364;
  --pink-200: #cd0365;
}

/* Needed for the fallbacks below */
@supports (height: -webkit-fill-available) {
  :root {
    --webkit-vhh: -webkit-fill-available;
  }
}

html,
body,
#root,
.Workbench {
  width: 100%;
  /* --ios-vvh set by VisualViewPortCSSVariables on iOS only. */
  height: var(--ios-vvh, var(--webkit-vvh, 100vh));
}
