html {
  /* Need to consider how these integrate with the chakra theme. */
  --code-background: #fffff8;
  --sidebar: rgb(47, 196, 47, 0.2);
  --block: rgba(52, 162, 235, 0.06);
}
html,
body {
  height: 100vh;
  /* https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/ */
  height: -webkit-fill-available;
}
#root {
  height: 100%;
}
