html {
  /* Need to consider how these integrate with the chakra theme. */
  --code-background: #fffff8;
  /* Used in blocks.ts */
  --block: rgba(52, 162, 235, 0.06);
}

html,
body,
#root,
#root > div > .spaces-space {
  height: var(--ios-vvh, 100vh);
  max-height: var(--ios-vvh, 100vh);
}
