html {
  /* Need to consider how these integrate with the chakra theme. */
  --code-background: #fffff8;
  --sidebar: rgb(47, 196, 47, 0.2);
  --block: rgba(52, 162, 235, 0.06);
}

html,
body,
#root,
#root > div > .spaces-space {
  height: var(--vvh, 100vh);
  max-height: var(--vvh, 100vh);
}
